 body {
     background-color: rgb(238, 238, 238);
 }

 #calc-container {
     display: flex;
 }

 #calc-container div {
     box-sizing: border-box;
     /* border: 2px solid red; */
     width: 33.3%;
     flex: 1;
 }

 #flex-container {
     display: flex;
     flex-wrap: wrap;
 }

 #flex-container div {
     /*centers text using flex */
     display: flex;
     justify-content: center;
     align-items: center;

     font-size: larger;

     box-sizing: border-box;
     border: 2px solid black;
     width: 25%;
     aspect-ratio: 1/1;
     flex: 1 1 auto;
 }

 #flex-container #entriesScreen {
     width: 100%;
     aspect-ratio: 8/1;

     display: flex;
     justify-content: end;
     align-items: center;

     border-bottom: 0px white;
 }

 #flex-container #answerScreen {
     width: 100%;
     aspect-ratio: 4/1;

     display: flex;
     justify-content: end;
     align-items: center;

     border-top: 0px white;
 }

 #flex-container #clearButton {
     width: 50%;
     height: 10vh;
 }

 #flex-container #backButton {
     width: 50%;
     height: 10vh;
 }